#/etc/systemd/system/sdvx_headless.service
[Unit]
Description=sdvx_controller

[Service]
Type=simple
ExecStart=/opt/sdvx_controller.py headless
[Install]
WantedBy=multi-user.target
